}

.col-md-9 .owl-wrapper-outer .owl-item {

    float: left;

    width: 155px !important;

}

.owl-carousel {

    margin-left: 1px !important;



}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(1) {

    content: url("https://4.bp.blogspot.com/-G8hOFUm6rpw/W_fuGfm_SMI/AAAAAAAAAKU/ascj_zulg480FkGV5YIVuGLJ4E-q3jSnwCLcBGAs/s1600/icon-14.gif") !important;

}





.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(2) {

    content: url("https://2.bp.blogspot.com/-jnrGM8Hl1Cw/W_fu_NNKZTI/AAAAAAAAAKc/-lghOlo2zQQmvvVcBChDEff3wZAHFrqZACLcBGAs/s1600/icon-15.gif") !important;

}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(3) {

    content: url("https://4.bp.blogspot.com/-w-ueUU42mMc/W_fvGJds_nI/AAAAAAAAAKg/dluoQ0zP6aIoT5we2-cLEyqWK2FiBvmCACLcBGAs/s1600/icon-16.gif") !important;

}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(4) {

    content: url("https://3.bp.blogspot.com/-SE6DHNoq3uo/W_fvGMgwkwI/AAAAAAAAAKo/r0r8ee0eJr0p1DJmM3AIYB9QUEp6TEgLwCLcBGAs/s1600/icon-17.gif") !important;

}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(5) {

    content: url("https://3.bp.blogspot.com/-Tbh8kb_fhp8/W_fvGCzMHJI/AAAAAAAAAKk/0-cW9-fouoEEZzpgT4KC40JIlckUstaNwCLcBGAs/s1600/icon-18.gif") !important;

}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(6) {

    content: url("https://2.bp.blogspot.com/-Gae6WZKWE4g/W_fvG5Qx-6I/AAAAAAAAAKs/2slN5E4nLP0P5iXkXRsNWXByZ5oOfkdaACLcBGAs/s1600/icon-19.gif") !important;

}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(7) {

    content: url("https://1.bp.blogspot.com/-NdSUp9U4zVs/W_fvG2KQ8aI/AAAAAAAAAKw/VfOLEYTeKl0_esy1gi8p1NEMDrQLuMKugCLcBGAs/s1600/icon-20.gif") !important;

}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(8) {

    content: url("https://2.bp.blogspot.com/-M8aZ8Av8oQQ/W_fvHCveAzI/AAAAAAAAAK0/yS216Fn2BJsaWqh3Bmk2acgwK5Z6uxFZQCLcBGAs/s1600/icon-21.gif") !important;

}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(9) {

    content: url("https://1.bp.blogspot.com/-Jbwn1Z8D5kQ/W_fvHlBZRBI/AAAAAAAAAK4/imUFrqm_qWY24ikOhcLwPZOo9GH_Fx5AACLcBGAs/s1600/icon-22.gif") !important;

}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(10) {

    content: url("https://4.bp.blogspot.com/-hmdrLf5BHB8/W_fwHXES80I/AAAAAAAAALY/78Z25S3YfZoqcqysAyg7DaitXnuXXGCIACLcBGAs/s1600/icon-01.gif") !important;

}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(11) {

    content: url("https://3.bp.blogspot.com/-MZAMtfeZTxo/W_fwHesx9hI/AAAAAAAAALU/VcvCXxjMyioK4ldmipSA0O5RKhTkZL9-wCLcBGAs/s1600/icon-02.gif") !important;

}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(12) {
 
    content: url("https://1.bp.blogspot.com/-TtokybKgnj8/W_fwHTxZixI/AAAAAAAAALc/z1wfpHjpJLwk5HSDsiPJ09spXPeFBlLCQCLcBGAs/s1600/icon-03.gif") !important;

}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(13) {

    content: url("https://4.bp.blogspot.com/-SmU5YrRqPf0/W_fwIen9MKI/AAAAAAAAALg/bJz3eayXU4oEd5GrrkvW0kuMkCDVN5hHgCLcBGAs/s1600/icon-04.gif") !important;

}



.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(14) {

    content: url("https://3.bp.blogspot.com/-61oGub-8wQc/W_fwI76rBKI/AAAAAAAAALk/7FW31sN4HvQ3gHqz-DnfUH9aiokmWajDACLcBGAs/s1600/icon-05.gif") !important;

}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(15) {

    content: url("https://4.bp.blogspot.com/-VeaZhzuN63I/W_fwJf3tvTI/AAAAAAAAALo/cnMF0SmvGS4L6uoupQnjfuGZPoLjIaF9wCLcBGAs/s1600/icon-06.gif") !important;

}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(16) {

    content: url("https://1.bp.blogspot.com/-X8m6-47-bpg/W_fwJiiTI6I/AAAAAAAAALs/zSkFE52dp4wDMvSWN4xYQeH7xejE10PegCLcBGAs/s1600/icon-07.gif") !important;

}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(17) {

    content: url("https://1.bp.blogspot.com/-XOFRkcmv6PM/W_fwJ_sIRZI/AAAAAAAAALw/eitAZXihlWIwveb3TGu6_iCZyJoYZGkFQCLcBGAs/s1600/icon-08.gif") !important;

}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(18) {

    content: url("https://3.bp.blogspot.com/-15ANdBCUqGs/W_fwKZb8emI/AAAAAAAAAL4/EVrgMYdVs9Ayy22VUkzDl6_Wfr1GqH_sgCLcBGAs/s1600/icon-09.gif") !important;

}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(19) {

    content: url("https://4.bp.blogspot.com/-dKHUAtvqO-s/W_fwKWlRlNI/AAAAAAAAAL0/OLN-zpUenyQBW1eeNzBezAo_URRdtpJ0ACLcBGAs/s1600/icon-10.gif") !important;

}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(20) {

    content: url("https://4.bp.blogspot.com/-d2NMZDgtChM/W_fwKVR8dbI/AAAAAAAAAL8/skKfQMv2ZRItckF3JX7Qbc36oQPZ1vWQgCLcBGAs/s1600/icon-11.gif") !important;

}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(21) {

    content: url("https://1.bp.blogspot.com/-k8b59tri74M/W_fwLOfWpoI/AAAAAAAAAMA/Urcfj7gN2qEZ3rp6uBDyPBt6cK-Ty1asgCLcBGAs/s1600/icon-12.gif") !important;

}

.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(22) {

    content: url("https://4.bp.blogspot.com/-9ZKNZKMRqSE/W_fwLYqq86I/AAAAAAAAAME/YJvv6sK9ssAFDtXSE4HBMXpCtpJs_QBOACLcBGAs/s1600/icon-13.gif") !important;

}
